@import "tailwindcss";

@theme {
  --color-ecobank-50: #f2f8fc;
  --color-ecobank-100: #e3f0f9;
  --color-ecobank-500: #1e88e5;
  --color-ecobank-600: #1976d2;
  --color-ecobank-900: #0d47a1;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}

@layer base {
  body {
    font-family: 'Inter', -apple-system, sans-serif;
    @apply text-gray-900 bg-[#F9FAFB] min-h-screen antialiased;
  }
}
